<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parthenogenesis - Gallery</title>
    <link rel="stylesheet" href="./../css/gallery.css">
    <link rel="stylesheet" href="./../css/global.css">
    <link rel="shortcut icon" href="./../imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <h1 class="h1">P<span style="color: #35bff5;">art</span>henogenesis</h1>
        
        <h2 class="slogan">Protecting your art from AI</h2>

        <ul class="header-options" id="auth-options">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="./signin.html">Sign out</a></li>
        </ul>
    </header>

    <main class="main">
        <h1 class="gallery-title"><span id="username"></span> Gallery</h1>
        
        <div class="upload-container">
            <label for="fileInput" class="upload-btn">Select Image</label>
            <input type="file" id="fileInput" accept="image/*">
            <p class="info">Image will be save at your browser LocalStorage.</p>
            <p class="info">Storage size limit: ~5MB (Vary from browser to browser).</p>
        </div>
        
        <div class="gallery" id="imageGallery"></div>
    </main>

    <footer>
        <div class="address">
            <span>2025 © Parthenogenesis · CNPJ 24.988.907/0001-79<br></span>
            <span>Rua Cícero Dias, 91 · Recife, PE · 52050-150</span>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const user = JSON.parse(localStorage.getItem('usuarioParthenogenesis'));
            if (!user) {
                window.location.href = 'signin.html';
            }
        });
    </script>
    <script src="./../../src/gallery.js"></script>
</body>
</html>