<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parthenogenesis</title>
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="shortcut icon" href="./../imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <h1 class="h1">P<span style="color: #35bff5;">art</span>henogenesis</h1>
        
        <h2 class="slogan underline">Protecting your art from AI</h2>

        <ul class="header-options" id="auth-options">

        </ul>
    </header>

    <main class="main">  
        <div class="who-are-we">
            <h2 class="who-are-we-title">Who we are</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/7XlBK5ySQYA?si=P3Johu0CS4czoJtm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="who-are-we-history">
                <p>We are an <b>anti AI</b> plagiarism art gallery tech company, with the purpose of protecting art from AI.</p>
                <p>Born in 2025, we are a <span>art gallery</span> that introduces biases/noise to your art and protect it from AI to learn it.</p>
            </div>

            <div class="installation">
                <h2 class="who-are-we-title">Our Installation</h2>

                <div class="our-team">
                    <img src="./../imgs/pessoal-trabalhando.png" alt="">
                    <img src="./../imgs/instalacao.jpg" alt="">
                </div>
            </div>

        </div>
        
        <div class="offerings">
            <h2 class="offerings-title">What we do offer</h2>
            <ul>
                <li>
                    <p class="offering-item-title">Art Gallery</p>
                    <p>We offer an individual art gallery to each artist who wishes to use our services. Our gallery includes the possibility to use our anti AI copy service.</p>
                </li>

                <li>
                    <p class="offering-item-title">Protection from AI plagiarism</p>
                    <p>With the usage of noise added to the image, imperceptible to the human eyes, but making it impossible to AI to recognize the drawing patterns of the image.</p>
                </li>
            </ul>
        </div>

        <div class="today-art">
            <p class="" style="text-align: center;">Today's Trending Arts</p>
        </div>

        <div class="gallery-titles">
            <p>
                <a href="#art1">Grave Digging</a> ·
                <a href="#art2">Nature Takes You</a> ·
                <a href="#art3">Crow Revolution</a> ·
                <a href="#art4">Louvre</a>
            </p>
        </div>

        <div class="gallery">

            <a href="https://www.deviantart.com/spikings/art/Grave-Digging-1180163776" target="_blank" id="art1">
                <div class="digital-painting">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/37afb3e4-0de2-47ce-ba5a-94cbff55600c/djin074-16b1aec6-f1de-4378-8858-9d74a32cfbec.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM3YWZiM2U0LTBkZTItNDdjZS1iYTVhLTk0Y2JmZjU1NjAwY1wvZGppbjA3NC0xNmIxYWVjNi1mMWRlLTQzNzgtODg1OC05ZDc0YTMyY2ZiZWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.MoAMKa6shgCg_BqhI1P2SGIPWTGnRONSItF6UVuwY48" alt="art">
                    <div class="art-info">
                        <h4>Grave Digging, 2025</h4>
                        <p>Author: Spikings</p>
                        <p>“Sanctified by what’s below.”</p>
                    </div>
                </div>
            </a>
            
            <a href="https://www.deviantart.com/spikings/art/Nature-Takes-You-946015895" target="_blank" id="art2">
                <div class="digital-painting">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/37afb3e4-0de2-47ce-ba5a-94cbff55600c/dfn8ejb-fe8ad4be-f04c-4a2a-a83d-b68875f0a078.png/v1/fill/w_1280,h_1811,q_80,strp/nature_takes_you_by_spikings_dfn8ejb-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTgxMSIsInBhdGgiOiJcL2ZcLzM3YWZiM2U0LTBkZTItNDdjZS1iYTVhLTk0Y2JmZjU1NjAwY1wvZGZuOGVqYi1mZThhZDRiZS1mMDRjLTRhMmEtYTgzZC1iNjg4NzVmMGEwNzgucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.PIN9V_mFUfiFc6tjPehdxOhaeXsiE0R1rtE78loxKuM" alt="art">
                    <div class="art-info">
                        <h4>Nature Takes You, 2023</h4>
                        <p>Author: Spikings</p>
                        <p>"I keep watch of his crypt by day"</p>
                    </div>
                </div>
            </a>
            
            <a href="https://www.deviantart.com/metshacollective/art/DarkChildFavs-170-997585397" target="_blank" id="art3">
                <div class="digital-painting">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f3e7dde-7d6a-4b71-8e74-8c0d1c1549a6/dghxpth-03312fc7-45d4-44d3-8c3f-e025d71bbff1.jpg/v1/fill/w_1280,h_1280,q_75,strp/darkchildfavs_170_by_metshacollective_dghxpth-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmM2U3ZGRlLTdkNmEtNGI3MS04ZTc0LThjMGQxYzE1NDlhNlwvZGdoeHB0aC0wMzMxMmZjNy00NWQ0LTQ0ZDMtOGMzZi1lMDI1ZDcxYmJmZjEuanBnIiwiaGVpZ2h0IjoiPD0xMjgwIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNWYzZTdkZGUtN2Q2YS00YjcxLThlNzQtOGMwZDFjMTU0OWE2XC9tZXRzaGFjb2xsZWN0aXZlLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.WzEfT7pz2YYP0KS8Cl0hmNaLFn4Ya7m18tFslk63A8I" alt="art">
                    <div class="art-info">
                        <h4>Crow Revolution</h4>
                        <p>Author: MetshaCollective</p>
                        <p>"A crow study"</p>
                    </div>
                </div>
            </a>
            
            <a href="https://www.deviantart.com/bunsakashita/art/Louvre-1167733836" target="_blank" id="art4">
                <div class="digital-painting">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07be8f49-e0da-4e5f-9a1f-ab7e32576dbf/djb8l70-8340c0c7-3e5e-439c-9e8f-3267d0416e3f.jpg/v1/fill/w_1280,h_919,q_75,strp/louvre_by_bunsakashita_djb8l70-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTE5IiwicGF0aCI6IlwvZlwvMDdiZThmNDktZTBkYS00ZTVmLTlhMWYtYWI3ZTMyNTc2ZGJmXC9kamI4bDcwLTgzNDBjMGM3LTNlNWUtNDM5Yy05ZThmLTMyNjdkMDQxNmUzZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5YuBcpFQ3wr_VSDqhylhJIt39k-OFobfwg35Z73YOh4" alt="art">
                    <div class="art-info">
                        <h4>Louvre</h4>
                        <p>Author: BunSakashita</p>
                        <p>"Sunset over the Louvre"</p>
                    </div>
                </div>
            </a>


        </div>

        <h2 class="founders-title">Company Founders</h2>

        <table class="founders">
            <tr>
              <td>
                <div class="founder-container">
                  <h2>Lucas Fernandes</h2>
                  <p>CKO · Full Stack Web Developer</p>
                  <a href="./../cvs/Lucas Fernandes.md" download>Lucas' curriculum vitae</a>
                  <div class="circle-image">
                    <img src="https://media.licdn.com/dms/image/v2/C4E03AQE6BqqwUSrW1g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1639008237663?e=1752105600&v=beta&t=q7Zpq7AbECEW8D7d7X1IyLkEqRkKfWfy8yJGIKbALF8" alt="Imagem de perfil">
                  </div>

                </div>
              </td>
              <td>
                <div class="founder-container">
                  <h2>Marília Pereira</h2>
                  <p>CTO · Security Blue Team</p>
                  <a href="./../cvs/Marilia Pereira.md" download>Marilia's curriculum vitae</a>
                  <div class="circle-image">
                    <img src="https://media.licdn.com/dms/image/v2/C4E03AQH_v-ntDU_PFw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1647698585672?e=1752105600&v=beta&t=jTyghxdmDjp0NCJbO9jt34v3-gbM1TjNHeZs9nhpCoU" alt="Imagem de perfil">
                  </div>

                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="founder-container">
                  <h2>Giovanna Numeriano</h2>
                  <p>CEO · Security Red team</p>
                  <a href="./../cvs/Giovanna Numeriano.md" download>Giovanna's curriculum vitae</a>
                  <div class="circle-image">
                    <img src="https://media.licdn.com/dms/image/v2/C4D03AQG_5iekZDVrug/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1616006771661?e=1752105600&v=beta&t=rCkjXE1mqPR0om__7lxSRnIvfEdgD7AUOZm3tjhEiTo" alt="Imagem de perfil">
                  </div>

                </div>
              </td>
            </tr>
          </table>
          
    
        <hr>
    </main>

    
    <footer>
        <div class="contacts">
            <h2>Company's Contact</h2>
            <ul class="direct-contact">
                <li><a href="tel:+558193529488" class="telto">Call +55 81 9352-9488</a></li>
                <li><a href="https://wa.me//5581997508702?text=Olá, Marília, CTO do Parthenogenesis!%20Te%20encontrei%20pelo%20site">Whats App: +55 81 9352-9488</a></li>
                <li><a href="mailto:parthenogenesis@gmail.com">Send Email</a></li>
            </ul>
        </div>

        <div class="payment-info">
            <h2>Payment Methods</h2>

            <div class="payment-methods">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/mastercard_2bc6a4921f.png" alt="mastercard">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/PXI_IMAGE_c8e3cdecc4.jpg" alt="pix">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/Visa_e6ac2f5dd8.jpg" alt="visa">
            </div>
        </div>

        <div class="address">
            <span>2025 © Parthenogenesis · CNPJ 24.988.907/0001-79<br></span>
            <span>Rua Cícero Dias, 91 · Recife, PE · 52050-150</span>
        </div>
        
    </footer>

    <!-- inpsiration: https://www.pierrickcalvez.com/ -->
    <script src="./../../src/isLogged.js"></script>
</body>
</html>