<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parthenogenesis - Sign Up</title>
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="shortcut icon" href="./../imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <h1 class="h1">P<span style="color: #35bff5;">art</span>henogenesis</h1>
        
        <h2 class="slogan">Protecting your art from AI</h2>

        <ul class="header-options">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./signin.html">Sign in</a></li>
        </ul>
    </header>

    <main>
        <h2 class="cadastro-title">Cadastro de clientes</h2>
        <form id="cadastroForm" onsubmit="return validarCadastro()">
        <label for="email">E-mail (Login):</label>
        <input type="text" id="email" name="email"><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br><br>

        <label for="confirmarSenha">Confirmar Senha:</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha"><br>
        <small>
            Senha deve conter no mínimo 6 caracteres, incluindo uma letra maiúscula, um número e um dos seguintes caracteres especiais: @ # $ % & * ! ? / \ | - _ + . =<br>
            Não são permitidos: ¨ { } [ ] ´ ` ~ ^ : ; < > , “ ‘
        </small><br><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00"><br><br>

        <label for="nascimento">Data de Nascimento:</label>
        <input type="date" id="nascimento" name="nascimento"><br><br>

        <label for="telefone">Telefone / Zap (opcional):</label>
        <input type="text" id="telefone" name="telefone" placeholder="(11) 91234-5678"><br><br>

        <label>Estado Civil:</label><br>
        <input type="radio" name="estadoCivil" value="solteiro" checked> Solteiro(a)
        <input type="radio" name="estadoCivil" value="casado"> Casado(a)
        <input type="radio" name="estadoCivil" value="divorciado"> Divorciado(a)
        <input type="radio" name="estadoCivil" value="viuvo"> Viúvo(a)<br><br>

        <label for="escolaridade">Escolaridade:</label>
        <select id="escolaridade" name="escolaridade">
            <option>1º grau incompleto</option>
            <option>1º grau completo</option>
            <option selected>2º grau completo</option>
            <option>Nível superior</option>
            <option>Pós-graduado</option>
        </select><br><br>

        <button type="submit">Incluir</button>
        <button type="button" onclick="limparCadastro()">Limpar</button>
        <button type="button" onclick="history.back()">Voltar</button>
        </form>
    </main>


    <script src="./../../src/signup.js"></script>
</body>
</html>