<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Parthenogenesis</title>
    <link rel="stylesheet" href="./../css/signin.css">
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="stylesheet" href="./../css/global.css">
    <link rel="shortcut icon" href="./../imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <h1 class="h1">P<span style="color: #35bff5;">art</span>henogenesis</h1>
        <h2 class="slogan">Protecting your art from AI</h2>
        <ul class="header-options">
            <li><a href="./index.html">Home</a></li>
        </ul>
    </header>

    <main class="main login-main">
        <div class="login-container">
            <h2>Sign In</h2>
            
            <form id="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-group">
                    <label for="senha">Password</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                
                <button type="submit" class="login-btn">Sign In</button>
            </form>
            
            <p class="signup-link">Don't have an account? <a href="./signup.html">Sign up</a></p>
        </div>
    </main>

    <footer>
        <div class="contacts">
            <h2>Company's Contact</h2>
            <ul class="direct-contact">
                <li><a href="tel:+558193529488" class="telto">Call +55 81 9352-9488</a></li>
                <li><a href="https://wa.me//5581997508702?text=Olá, Marília, CTO do Parthenogenesis!%20Te%20encontrei%20pelo%20site">Whats App: +55 81 9352-9488</a></li>
                <li><a href="mailto:parthenogenesis@gmail.com">Send Email</a></li>
            </ul>
        </div>

        <div class="payment-info">
            <h2>Payment Methods</h2>

            <div class="payment-methods">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/mastercard_2bc6a4921f.png" alt="mastercard">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/PXI_IMAGE_c8e3cdecc4.jpg" alt="pix">
                <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/Visa_e6ac2f5dd8.jpg" alt="visa">
            </div>
        </div>

        <div class="address">
            <span>2025 © Parthenogenesis · CNPJ 24.988.907/0001-79<br></span>
            <span>Rua Cícero Dias, 91 · Recife, PE · 52050-150</span>
        </div>
        
    </footer>

    <script src="./../../src/signin.js"></script>
</body>
</html>