footer {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: var(--normal-vertical-margin);
}

.contacts h2 {
  font-family: var(--title);
}

.direct-contact {
  display: flex;
  flex-direction: row;
  gap: var(--minimal-margin);
  list-style: none;
}

.direct-contact a {
  text-decoration: underline;
}

.telto {
  color: #333;
  text-decoration: none;
}

.telto:hover {
  color: var(--blue-link-color);
}

.payment-info {
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-info h2 {
  font-family: var(--title);
}

.payment-methods {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.payment-methods img {
  height: 24px;
}

.address {
  padding-bottom: 12rem;
  font-family: var(--text);
  font-size: 0.9rem;
  color: #666;
}